#!/bin/3proxy
config /etc/3proxy/3proxy.cfg

# you may use system to execute some external command if proxy starts
system "echo `which 3proxy`': Starting 3proxy'"

# We can configure nservers to avoid unsafe gethostbyname() usage (max 5 servers)
nserver 8.8.8.8
nserver 8.8.4.4
nserver 1.1.1.1
nserver 9.9.9.9
nserver 8.8.8.8

# nscache is good to save speed, traffic and bandwidth
nscache 65536

# Here we can change timeout values
timeouts 1 5 30 60 180 1800 15 60

# Logging docs: <https://3proxy.org/doc/howtor.html#LOGFORMAT>
logformat "-\""+_G{""time_unix"":%t, ""proxy"":{""type:"":""%N"", ""port"":%p}, ""error"":{""code"":""%E""}, ""auth"":{""user"":""%U""}, ""client"":{""ip"":""%C"", ""port"":%c}, ""server"":{""ip"":""%R"", ""port"":%r}, ""bytes"":{""sent"":%O, ""received"":%I}, ""request"":{""hostname"":""%n""}, ""message"":""%T""}"
log /etc/3proxy/logs/3proxy.log D
rotate 30

maxconn 4096

users $/etc/3proxy/users/.proxyauth

auth strong

allow * * * * *

# Additional configuration
writable

allow admin 127.0.0.1 * * ADMIN
admin -p8088

proxy -a -p3128
socks -a -p1080

flush
